<main class="main-content">
  <div class="full-container" id="full-container" style="display: none;">
    <h2 class="chapter">Online Channels</h2>
    <div class="online-elements" id="twitchElementsOnline"></div>
    <h2 class="chapter">Offline Channels</h2>
    <div class="offline-elements" id="twitchElementsOffline"></div>
  </div>
</main>
